#title {
  text-align: left;
  margin: 10px;
  padding-bottom: 10px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;}

#register {
  text-align: left;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;}
  
div {
  margin: 10px;
  padding-bottom: 6px;
  clear: both;}

em { font-weight: bold; padding-right: 1em; vertical-align: top; }
label { width: 15em; float: left; }
/* 
.submit {
  text-align: right;}
*/
  
  