/* default style sheet */

@import "mixin.less"

a:link {
  color: black;
  text-decoration: none;}
  
a:visited {
  color: black;
  text-decoration: none;}
  
a:hover {
  color: blue;}  

.menu {
  font-family: Georgia, Times, serif; }

#logo {
  font-size: 20px;
  width: 1000px;
  padding: 5px;
  margin: 0px auto 0px auto;
  border-bottom: 2px solid #000;
  text-align: center;}

ul {
  width: 1000px;
  padding: 15px;
  margin: 0px auto 0px auto;
  /*border-top: 2px solid #000;*/
  border-bottom: 1px solid #000;
  text-align: center;}

li {
  display: inline;
  margin: 0px 3px;}

#image {
  text-align: center;}
/**/
.options {
  text-align: left;}

/*Add style*/  
.footer {
  text-align: right;}
