/* default style sheet */

/* this part of code should be in mixin.less */
.btn {
	border:1px solid #fff;
	border-radius:5px;
	padding:3px 5px;
	background:#fff;
	color:#143352;
}

/* end */

body, div, table,form, p, span, a, h1, h2, h3, h4  {
	margin:0;
	padding:0;
	font-family: Arial, Sans-serif;
	color:#fff;
}

	
li {
	list-style:none;
	padding-bottom:10px;
}

body {
	background:#2E2E2E;
}

a {
	text-decoration:none;
	&:hover {
		
	}
}

.headerContainer {
	width:100%;
	padding:5px;
	padding-bottom:8px;
	background:#143352;
	box-shadow:1px 1px 8px #444;
	position:fixed;
	top:0;
	left:0;
	z-index:100;
	
	.header{
		margin:0px auto;
		width:960px;
		
		
		.subsection {
			display:inline-block;
			width:49%;
			
			&.brand {
				h1 {
					font-size:large;
					color:#fff;
					text-shadow:1px 1px 1px #333;
					sup {
						font-size:small;
					}
				}
			}
			
			
			&.authentication {
				#login {
					width:360px;
					input {
						width:120px;
					}
					
				}
			}
			
		}
	}
}

.contentContainer {
	padding:8px 10px;
	margin-top:50px;
	
	.nav-container {
		position:fixed;
		top:0;
		left:0;
		width:30%;
		
		height:100%;
		z-index:99;
		
		.contentHolder {
			text-align:right;
		}
		
		
	}
	
	#contentStack {
		width:70%;
		background:#fff;
		position:absolute;
		right:0;
		top:0;
		z-index:99;
		min-height:100%;
		color:#fff;

		
		a {
		      color:#143352;
		}
		
		#register {
		      color:#143352;
		      div {
			      color:#143352;
			      padding:5px 8px;
			      
			      label {
				    width:200px;
				    text-align:right;
				    float:left;
				    color:#143352;
				    margin-right:8px;
				    
			      }
			
		      }
		  
		}
	    
	}
	
	.contentHolder {
		margin:55px 10px;
		
		
		p {
		      margin:8px 0;
		}
		
	}
	
}

.footerContainer {
	width:100%;
	padding:4px;
	background:#143352;
	position:fixed;
	bottom:0;
	left:0;
	z-index:100;
	font-size:small;
	
	.footer {
		width:960px;
		margin:0 auto;
		
		.subsection {
			display:inline-block;
			width:49%;
			
			ul {
				li {
					display:inline;
					padding:0 5px;
				}
			}
		}
	}
}

