<h2>{{name}}</h2>
<div id="couponresult">
  <form id="buyCoupon">
    <label>Amount: </label>
    <input name="purchased_quantity" type="text" class="purchased_quantity" size="6" value="1" />
    <input type="hidden" value="{{ data.id }}" class="coupon_id" />
    <input type="submit" value="Buy" />
  </form>

  <p>ID: {{ data.id }}</p>
  <p>Description: {{ data.description }}</p>
  <p><img src="{{ data.logo_url }}"/></p>
  <p>Type: {{ data.coupontype }}</p>
</div>
<div id="publishcoupon">
  <input type="button" value="Publish" id="publishCoupon">
</div>
<div id="unpublishcoupon">
  <input type="button" value="Unpublish" id="unpublishCoupon">
</div>