<h1>Coupon</h1>
<p>
  <a href="#" data-route="index">Home</a>
</p>
{{#data}}
<p>
  <a href="#" data-route="editcoupon/{{ id }}">Edit</a>
</p>
<p>
  <a href="#" data-route="deletecoupon/{{ id }}">Delete</a>
</p>
{{/data}}
