{{#data}}
<h2>{{name}}</h2>
<div id="couponresult">
  <form id="buyCoupon" data-uri-id="{{ id }}">
    <p>
      <label>Amount: </label>
      <input name="purchased_quantity" type="text" class="purchased_quantity" size="6" value="1">
      <input type="submit" value="Buy" />
    </p>
  </form>
<p>ID: {{ id }}</p>
<p>Description: {{ description }}</p>
<p><img src="{{ logo_url }}"/></p>
<p>Type: {{ coupontype }}</p>
</div>
{{/data}}