<h2>New coupon</h2>
<form id="createCoupon">

  <div><label for="name"><em>*</em>Name: </label>
    <input placeholder="Coupon" name="name" type="text">
  </div>

  <div><label for="description"><em>*</em>Description: </label>
    <textarea placeholder="Describe your coupon" name="description" class="description" rows="5"></textarea>
  </div>

  <div><label for="image_url"><em>*</em>Enter Image URL: </label>
    <input type="text" name="logo_url" class="image_url" placeholder="http://www.mcgill.ca/banner.jpg">
  </div>
  <div><label for="price">Price:</label>
    <input placeholder="0.0" name="price" type="text" class="price" size="10" value="0"> CAD$
  </div>

  <div><label for="amount">Amount: </label>
    <input placeholder="Unlimited" name="amount" type="text" class="amount" size="10" value="0">
  </div>

  <div><label for="coupontype">Coupon Type: </label>
    <select class="coupontype">
      <option value="food">Food</option>
      <option value="fashion">Fashion</option>
      <option value="entertainment">Entertainment</option>
      <option value="health">Health</option>
    </select>
  </div>

  <div><label for="datepicker">Expiry Date:</label>
    <input type="text" id="datepicker" value="2013-03-01"/>
  </div>

  <div><p><em>*</em> - Required</p></div>

  <input type="submit" value="Create">
</form>
