
        <h2 class="welcome">
          <span>Welcome to your profile page</span>
          <div class="username-container"></div>
        </h2>
        <ul class="profile">
          <li><label>Address: </label><div class=address></div><button>Edit</button>
          <li><label>Phone Number: </label><div class=phonenumber></div><button>Edit</button>
          <li><label>Credit Card Number: </label><div class=creditnumber></div><button>Edit</button>
          <li><label>Paypal Account: </label><div class=paypal></div><button>Edit</button>    
        </ul>
    

