<h2 class="welcome">
  <span>Welcome to your profile page</span>
  <div class="username-container"></div>
</h2>
<form id="editUserProfile">
  <div>
    <label>Current Email: </label>
    <p>{{ email }}</p>
  </div>
  <div><label>New Email: </label>
    <input name="email" type="text" class="email">
  </div>
  <div class=address>
    <label>Address: </label>
    <input name="address" type="text" class="address">
  </div>
  <div class=phonenumber>
    <label for="phone">Phone Number: </label>
    <input name="phone" type="text">
  </div>
  <div class=paypal>
    <label for="paypal">Paypal Account: </label>
    <input name="paypal" type="text">
  </div>
  <input type="submit" value="Edit" />
</form>
