
        <h2 class="welcome">
          <span>Recent</span>
        </h2>
        <ul id="recentCoupons">
          <li class="long"></li>
          <li></li> 
          <li></li> 
          <li class="long"></li> 
          <li></li> 
          <li class="long"></li> 
          <li></li>  
        </ul>
        
    

