<h1>Home</h1>
<p><a href="#" data-route="profile">Profile</a></p>
<p class="small"><a href="#" data-route="editprofile">edit</a></p>
<p><a href="#" data-route="createcoupon">Create coupon</a></p>
<p class="small"><a href="#" data-route="managecoupon">manage</a></p>
<p><a href="#" data-route="purchased">Purchased coupon</a></p>
<p><a href="#" data-route="search">Search</a></p>
<p><a href="#" data-route="settings">Setting</a></p>
<p><a href="#" data-route="logout">Log out</a></p>
