<h1>Home</h1>
<p><a href="/profile" class="profileTrigger">Profile</a></p>
<p><a href="/createcoupon" class="couponCreateTrigger">Create coupon</a></p>
<p><a href="/search" class="searchTrigger">Search</a></p>
<p><a href="/settings" class="settingsTrigger">Setting</a></p>
<p><a href="/logout" class="logoutTrigger">Log out</a></p>
