<form id="register" method="post" action="">
    <div><label for="acctype">I'd like to register as: </label>
    <input type="radio" name="acctype" value="consumer" class="accounttype" checked> Consumer
    <input type="radio" name="acctype" value="company" class="accounttype"> Company
  </div>
    
    <div><label for="cname">My name is ... </label>
      <input placeholder="Firstname" type="text" class="firstname"><input placeholder="Lastname" type="text" class="lastname">
    </div> 
  
  <div><label for="uname"><em>*</em>Username: </label>
    <input placeholder="Username" name="username" type="text" class="username">
  </div>  
  
  <div><label for="pword"><em>*</em>Password: </label>
    <input placeholder="Password" name="password" type="password" class="password">
  </div>  
  
  <div><label for="email"><em>*</em>Email: </label>
    <input placeholder="abc@your.domain" name="email" type="text" class="email">
  </div>
  
  <input type="hidden" id="address" value=""> 
  
  <div><label for="add1">Address Line 1: </label>
    <input type="text" size="50" id="address1">
  </div>
  
  <div><label for="add2">Address Line 2:</label>
    <input type="text" size="50" id="address2">
  </div>
  
  <div><label for="city">City: </label>
    <input type="text" id="city">
  </div>
  
  <div><label for="prov">Province: </label>
    <input type="text" id="province">
  </div>
  
  <div><label for="pc">Postal Code: </label>
    <input placeholder="A1B 2C3" type="text" size="8" maxlength="6" id="postalcode">
  </div>
  
  <div><label for="phone">Phone Number: </label>
    <input placeholder="5141234567" type="text" class="phonenumber">
  </div>
  
  <div><label for="ccnumber">Credit Card Number: </label>
    <input placeholder="1234567890123456" type="text" size="22" maxlength="16" class="creditnumber">
  </div>
  
  <div><label for="ccexp">Credit Card Expiry Date: </label>
    <select class="expirymonth">
      <option value="jan">(01) January</option>
      <option value="feb">(02) February</option>
      <option value="mar">(03) March</option>
      <option value="apr">(04) April</option>
      <option value="may">(05) May</option>
      <option value="jun">(06) June</option>
      <option value="jul">(07) July</option>
      <option value="aug">(08) August</option>
      <option value="sep">(09) September</option>
      <option value="oct">(10) October</option>
      <option value="nov">(11) November</option>
      <option value="dec">(12) December</option>
    </select>
    <select class="expiryyear">
      <option value="2013">2013</option>
      <option value="2014">2014</option>
      <option value="2015">2015</option>
      <option value="2016">2016</option>
      <option value="2017">2017</option>
      <option value="2018">2018</option>
      <option value="2019">2019</option>
      <option value="2020">2020</option>
      <option value="2021">2021</option>
      <option value="2022">2022</option>
      <option value="2023">2023</option>
    </select></div>   
  
  <div><label for="paypal">Paypal Account: </label>
     <input placeholder="account name" type="text" class="paypal">
  </div>
  
  <div><p><em>*</em> - Required</p></div>
  <div class="submit">
    <button id="submitRegistration" type="button">Register</button>
  </div>
    </form>
