<form id="register" method="post" action="">
  <div><label for="acctype">I'd like to register as: </label>
    <input type="radio" name="accounttype" value="consumer" class="accounttype" checked>Consumer
    <input type="radio" name="accounttype" value="company" class="accounttype">Company
  </div>

  <div><label for="cname">My name is ... </label>
    <input placeholder="Firstname" type="text" name="firstname">
    <input placeholder="Lastname" type="text" name="lastname">
  </div>

  <div><label for="uname"><em>*</em>Username: </label>
    <input placeholder="Username" name="username" type="text">
  </div>

  <div><label for="pword"><em>*</em>Password: </label>
    <input placeholder="Password" name="password" type="password">
  </div>

  <div><label for="email"><em>*</em>Email: </label>
    <input placeholder="abc@your.domain" name="email" type="text">
  </div>

  <div><label for="add1">Address Line 1: </label>
    <input type="text" size="50" name="address1">
  </div>

  <div><label for="add2">Address Line 2:</label>
    <input type="text" size="50" name="address2">
  </div>

  <div><label for="city">City: </label>
    <input type="text" name="city">
  </div>

  <div><label for="prov">Province: </label>
    <input type="text" name="province">
  </div>

  <div><label for="pc">Postal Code: </label>
    <input placeholder="A1B 2C3" type="text" size="8" maxlength="6" name="postalcode">
  </div>

  <div><label for="phone">Phone Number: </label>
    <input placeholder="5141234567" type="text" name="phonenumber">
  </div>

  <div><label for="paypal">Paypal Account: </label>
    <input placeholder="account name" type="text" name="paypal">
  </div>

  <div>
    <p><em>*</em> - Required</p>
  </div>

  <div class="submit">
    <button class="submitRegistration" type="button">Register</button>
  </div>
</form>
