<h2>Search</h2>
<p>
<form id="searchUser">
  <input type="text" placeholder="Search User" name="username" class="username"/>
  <div class="submit">
    <button id="submitSearchUser" type="button">Search</button>
  </div>
</form>
</p>

<p>
<form id="searchCoupon">
  <label><input type="text" placeholder="Search Coupon" name="couponname" class="couponname"/></label>
  <div class="submit">
    <button id="submitSearchCoupon" type="button">Search</button>
  </div>
</form>
</p>
