<h2>Search</h2>

<form id="searchUser">
  <label for="username" class="username">Username: </label>
  <input type="text" placeholder="Search User" name="username" class="username" />
  <input type="submit" value="Search" />
</form><br/>

<form id="searchCoupon">
  <label for="couponname">Coupon Name: </label>
  <input type="text" placeholder="Search Coupon" name="couponname" class="couponname"/>
  <input type="submit" value="Search" />
</form>
